<!doctype html>
<html>
<head>	
	<title>Vote Nullo</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href='style/main.css' rel='stylesheet' type='text/css'>

	<style>
		.status {float: right; color: #135; font-family:'andale mono', 'lucida console', monospace, candara; margin:-20px 0 0 0; padding: 0 30px; background: rgba(0,0,0,0.1); }
		.grafico {padding:0; padding-top: 0;}
		.grafico * { font-family: monospace, candara;}
		#calendar-graph { margin: 10px 10px 10px 10px;}
		#calendar-graph text {fill: #000 !important; font-size: 9px; text-align: right;}
	</style>
</head>
<body>
	<div class="container">
		<h1>MegaSena</h1>