

<div class="grafico">
	<svg width="721" height="110" id="calendar-graph">
		<g transform="translate(20, 20)">
			<text text-anchor="middle" class="wday" dx="-10" dy="9" >1</text>
			<text text-anchor="middle" class="wday" dx="-10" dy="22">2</text>
			<text text-anchor="middle" class="wday" dx="-10" dy="35">3</text>
			<text text-anchor="middle" class="wday" dx="-10" dy="48">4</text>
			<text text-anchor="middle" class="wday" dx="-10" dy="61">5</text>
			<text text-anchor="middle" class="wday" dx="-10" dy="74">6</text>
			<text text-anchor="middle" class="wday" dx="-10" dy="87">7</text>
			
			<g transform="translate(0, 0)">
				<rect class="day" width="11" height="11" y="0" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="13" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="26" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="39" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="52" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="65" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="78" style="fill: #eeeeee;"></rect>
			</g>
			<g transform="translate(13, 0)">
				<rect class="day" width="11" height="11" y="0" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="13" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="26" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="39" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="52" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="65" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="78" style="fill: #eeeeee;"></rect>
			</g>
			<g transform="translate(26, 0)">
				<rect class="day" width="11" height="11" y="0" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="13" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="26" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="39" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="52" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="65" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="78" style="fill: #eeeeee;"></rect>
			</g>
			<g transform="translate(39, 0)">
				<rect class="day" width="11" height="11" y="0" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="13" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="26" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="39" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="52" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="65" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="78" style="fill: #eeeeee;"></rect>
			</g>
			<g transform="translate(52, 0)">
				<rect class="day" width="11" height="11" y="0" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="13" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="26" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="39" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="52" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="65" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="78" style="fill: #eeeeee;"></rect>
			</g>
			<g transform="translate(65, 0)">
				<rect class="day" width="11" height="11" y="0" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="13" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="26" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="39" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="52" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="65" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="78" style="fill: #eeeeee;"></rect>
			</g>
			<g transform="translate(78, 0)">
				<rect class="day" width="11" height="11" y="0" style="fill: #eeeeee;"></rect>				
				<rect class="day" width="11" height="11" y="13" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="26" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="39" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="52" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="65" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="78" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="78" style="fill: #eeeeee;"></rect>
			</g>
			<g transform="translate(91, 0)">
				<rect class="day" width="11" height="11" y="13" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="26" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="39" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="52" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="65" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="78" style="fill: #eeeeee;"></rect>
			</g>
			<g transform="translate(104, 0)">
				<rect class="day" width="11" height="11" y="0" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="13" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="26" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="39" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="52" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="65" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="78" style="fill: #eeeeee;"></rect>
			</g>
			<g transform="translate(117, 0)">
				<rect class="day" width="11" height="11" y="0" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="13" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="26" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="39" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="52" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="65" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="78" style="fill: #eeeeee;"></rect>
			</g>
			<g transform="translate(130, 0)">
				<rect class="day" width="11" height="11" y="0" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="13" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="26" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="39" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="52" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="65" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="78" style="fill: #eeeeee;"></rect>
			</g>
			<g transform="translate(143, 0)">
				<rect class="day" width="11" height="11" y="0" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="13" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="26" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="39" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="52" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="65" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="78" style="fill: #eeeeee;"></rect>
			</g>
			<g transform="translate(156, 0)">
				<rect class="day" width="11" height="11" y="0" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="13" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="26" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="39" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="52" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="65" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="78" style="fill: #eeeeee;"></rect>
			</g>
			<g transform="translate(169, 0)">
				<rect class="day" width="11" height="11" y="0" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="13" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="26" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="39" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="52" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="65" style="fill: #eeeeee;"></rect>
				<rect class="day" width="11" height="11" y="78" style="fill: #eeeeee;"></rect>
			</g>
			
			<text x="0"   y="-5" class="month">Sep</text>
			<text x="65"  y="-5" class="month">Oct</text>
			<text x="117" y="-5" class="month">Nov</text>
			<text x="169" y="-5" class="month">Dec</text>
			<text x="234" y="-5" class="month">Jan</text>
			<text x="299" y="-5" class="month">Feb</text>
			<text x="351" y="-5" class="month">Mar</text>
			<text x="416" y="-5" class="month">Apr</text>
			<text x="468" y="-5" class="month">May</text>
			<text x="520" y="-5" class="month">Jun</text>
			<text x="585" y="-5" class="month">Jul</text>
			<text x="637" y="-5" class="month">Aug</text>
			<text x="689" y="-5" class="month">Sep</text>

			
		</g>
	</svg>
</div>